<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts</title>
</head>
<body>
    <h1>All Posts</h1>
    <table border="1">
        <tr>
            <th>User</th>
            <th>Content</th>
            <th>Created At</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.user }}</td>
            <td>{{ post.content }}</td>
            <td>{{ post.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
